<li>
	{{ingredient_name}}

        <button class="change-used" data-id="{{id}}" data-state="{{used}}">
		{{#if used}}Use Ingredient{{else}}Add Back to Queue{{/if}}
        </button>
        	<button class="delete-ingredient" data-id="{{this.id}}">Delete Ingredient</button>
</li>